{% extends "layout.html" %}

{% block mainContent %}

  {% if errors %}
    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

	<form id="create-event" method="POST">
    <label for="title">Event title:</label>
    <input type="text" id= "title" name="title">

    <label for="location">Event location:</label>
    <input type="text" id="location" name="location">

    <label for="image">Event image:</label>
    <input type="url" id="image" name="image">
  
    <label for="year">Event year:</label>
    <input type="text" id="year" name="year">

    <label for="month">Event month:</label>
    <select name="month" id="month" class="form-control" style="width: 200px;">
      <option value='0'>January</option>
      <option value='1'>February</option>
      <option value='2'>March</option>
      <option value='3'>April</option>
      <option value='4'>May</option>
      <option value='5'>June</option>
      <option value='6'>July</option>
      <option value='7'>August</option>
      <option value='8'>September</option>
      <option value='9'>October</option>
      <option value='10'>November</option>
      <option value='11'>December</option>

    </select><br>
    <label for="day">Event day:</label>
    <input type="text" id="day" name="day">

    <label for="hour">Event hour:</label>
    <input type="text" id="hour" name="hour">

    <label for="minute">Event minute:</label>
    <input type="text" id="minute" name="minute">
    
    <input type="submit" value="Submit">

<!-- title, location, image, year, month, day, hour, and minute -->
  </form>
{% endblock %}


